/* ページスタイル */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
  padding: 20px;
  background-color: #7289DA;
  color: #FFF;
  margin: 0;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
li {
  padding: 10px;
  border-bottom: 1px solid #2C2F33;
  transition: background-color 0.3s;
}
li:hover {
  background-color: #2C2F33;
}
a {
  text-decoration: none;
  color: #7289DA;
  font-weight: bold;
  display: block
}
@media screen and (max-width: 480px) {
  li {
    padding: 15px;
  }
}
/* ページボタンスタイル */
.page-buttons button {
  background-color: #7289DA;
  color: #FFF;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 0 5px;
}
.page-buttons button:disabled {
  background-color: #999;
  cursor: default;
}
/* ページボタンスタイル */
.page-buttons {
  text-align: center;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* カウンターを下に配置 */
}
.page-counter {
  margin-top: 10px; /* カウンターの上の余白 */
}

/* 検索ボックスとボタンを囲むコンテナのスタイル */
.search-container {
  display: flex;
  align-items: center;
  justify-content: center; /* 中央寄せ */
  margin: 20px auto;
  max-width: 600px; /* コンテナの最大幅 */
}

/* 検索ボックス全体のスタイル */
#searchInput {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px; /* 左上と左下の角を丸く */
}

/* 検索ボタンのスタイル */
#searchButton {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0 4px 4px 0; /* 右上と右下の角を丸く */
  cursor: pointer;
}
/* lineCount のスタイル */
#hitLineCount {
  font-size: 20px;
  color: #666;
  margin-top: 10px;
  vertical-align: middle;
  text-align: center;
}

/* itemCount のスタイル */
#itemCount {
  font-size: 20px;
  color: #666;
  margin-top: 10px;
  text-align: center;
}
#repLink {
  font-size: 14px;
}
